*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(7, 231, 145),rgb(18, 31, 82));
    font-family: sans-serif;
    color: white;
}

.location, .temperature{
    height:30vh;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.temperature{
    flex-direction: column;
}


@media (max-width:800px){
    .location, .temperature{
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.degree-section{
    height:10vh;
    display: flex;
    align-items: center;
}

span::before{
    content:"°"
}

.degree-section span{
    margin:10px;
    font-size: 30px;
    cursor: pointer;
}

.degree-section h2{
    font-size: 40px;
}

.temperature-description{
    border: 1px solid white;
    padding:5px;
    border-radius: 8px;
    box-shadow: 3px 5px 10px #000;
}
